#
# OpenTHC PHPStan
# PHP Static Analysis Configuration
#

parameters:
	bootstrapFiles:
		- ../boot.php
	level: 6
	paths:
		- ../etc
		- ../lib
		- ../test
		- ../view
		- %currentWorkingDirectory%/boot.php
		- %currentWorkingDirectory%/lib/autoload.php
		- %currentWorkingDirectory%/lib/cli.php
		- %currentWorkingDirectory%/lib/php.php
		- %currentWorkingDirectory%/lib/web.php
	ignoreErrors:
		- '/Undefined variable: \$this/'
		- '/Using \$this outside a class/'
		- '/Variable \$this might not be defined/'
	tipsOfTheDay: false
