<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<coverage />

	<php>
		<env name="debug-http" value="false" />

		<!--
			Put the URL of your SSO Instance Here
			eg: https://bunk.openthc.example.com
		 -->
		<env name="OPENTHC_TEST_ORIGIN" value="" />

		<env name="biotrack-company-g" value="999000001" />
		<env name="biotrack-company-p" value="999000002" />
		<env name="biotrack-company-l" value="999000003" />
		<env name="biotrack-company-r" value="999000004" />

		<env name="biotrack-username" value="USERNAME_SECRET" />
		<env name="biotrack-password" value="PASSWORD_SECRET" />

	</php>

	<testsuites>

		<testsuite name="BioTrack">
			<directory>BioTrack</directory>
		</testsuite>

		<!-- <testsuite name="LeafData">
			<directory>LeafData</directory>
		</testsuite> -->

		<testsuite name="Metrc">
			<directory>Metrc</directory>
		</testsuite>

	</testsuites>

</phpunit>
