<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="true"
	stopOnRisky="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>
		<env name="debug-http" value="false"/>

		<env name="api-uri" value="bunk.openthc.dev" />
		<env name="biotrack-uri" value="" />
		<env name="leafdata-uri" value="" />
		<env name="metrc-uri" value="" />
	</php>

	<testsuites>
		
		<!-- <testsuite name="BioTrack">
			<directory>BioTrack</directory>
		</testsuite> -->

		<testsuite name="LeafData">
			<directory>LeafData</directory>
		</testsuite>

		<testsuite name="Metrc">
			<directory>Metrc</directory>
		</testsuite>

	</testsuites>

</phpunit>
