<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<php>

		<env name="debug-http" value="false" />

		<env name="api-uri" value="https://cre.openthc.dev/" />

		<!-- root/system accounts -->
		<env name="api-program-0" value="019KAGVSC0QPM7X728Z15ZTE37" />
		<env name="api-company-0" value="019KAGVSC05RHV4QAS76VPV6J7" />
		<env name="api-license-0" value="019KAGVX9M1FRBJ7EZQDTMD6JA" />

		<env name="api-program-a" value="019KAGVSC04QR1WM5H86QRCGXG" />
		<env name="api-program-b" value="" />
		<env name="api-program-c" value="019KAGVSC0XHVSZMJGXA37B05S" />

		<!-- Farmer / Grower / Producer -->
		<env name="api-company-g0" value="019KAGVX9M209XSPAMRCXSRYF2" />
		<env name="api-license-g0" value="019KAGVX9MNVQVXP6A24ND2CBW" />
		<env name="api-contact-g0" value="" />
		<env name="api-license-g0-secret" value="" />

		<!-- Processor / Manufacturer / Distributor -->
		<env name="api-company-p0" value="019KAGVX9MY0BZDEJFRXBW82T4" />
		<env name="api-license-p0" value="019KAGVX9MQQS4S9MC1WX5A76G" />
		<env name="api-contact-p0" value="" />
		<env name="api-license-p0-secret" value="" />

		<!-- Laboratory -->
		<env name="api-company-l0" value="019KAGVX9MXFHHT41X08Y6JX23" />
		<env name="api-license-l0" value="019KAGVX9MMGS6HQZ6787CB92R" />
		<env name="api-contact-l0" value="" />
		<env name="api-license-l0-secret" value="" />

		<!-- Retail / Dispensary -->
		<env name="api-company-r0" value="019KAGVX9MH3QJW8QGE7CXNAAQ" />
		<env name="api-license-r0" value="019KAGVX9MD60MW90N4GTB75Y1" />
		<env name="api-contact-r0" value="" />
		<env name="api-license-r0-secret" value="" />

	</php>

	<testsuites>

		<testsuite name="Auth">
			<directory>0_Auth</directory>
		</testsuite>

		<testsuite name="Basic">
			<directory>1_Basic</directory>
		</testsuite>

		<testsuite name="Lot-Source">
			<directory>2_Lot_Source</directory>
		</testsuite>

		<testsuite name="Plant">
			<directory>3_Plant</directory>
		</testsuite>

		<testsuite name="Plant-Collect">
			<directory>4_Plant_Collect</directory>
		</testsuite>

		<testsuite name="Lot-Process">
			<directory>5_Lot_Process</directory>
		</testsuite>

		<testsuite name="Laboratory">
			<directory>6_Laboratory</directory>
		</testsuite>

		<testsuite name="Lot-Package">
			<directory>7_Lot_Package</directory>
		</testsuite>

		<testsuite name="B2B">
			<directory>8_B2B</directory>
		</testsuite>

		<testsuite name="B2C">
			<directory>9_B2C</directory>
		</testsuite>

	</testsuites>

	<logging>
		<!-- <log type="coverage-html" target="../webroot/test-output" /> -->
		<log type="junit" target="../webroot/test-output/output.xml" />
		<log type="testdox-html" target="../webroot/test-output/testdox.html" />
	</logging>

</phpunit>
