<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<const name="OPENTHC_TEST_ORIGIN" value="https://bunk.openthc.example.com" />

		<env name="OPENTHC_TEST_ORIGIN" value="https://bunk.openthc.example.com" />

		<!-- If defined, it will spew debug -->
		<!-- <const name="OPENTHC_TEST_HTTP_DEBUG" value="0" /> -->

		<!--
			Put the URL of your SSO Instance Here
			eg: https://bunk.openthc.example.com
		 -->

		<env name="biotrack-company-g" value="999000001" />
		<env name="biotrack-company-p" value="999000002" />
		<env name="biotrack-company-l" value="999000003" />
		<env name="biotrack-company-r" value="999000004" />

		<env name="biotrack-username" value="USERNAME_SECRET" />
		<env name="biotrack-password" value="PASSWORD_SECRET" />

	</php>

	<testsuites>

		<testsuite name="BioTrack">
			<file>BioTrack/A_Auth_Test.php</file>
			<file>BioTrack/Sync_Test.php</file>
			<file>BioTrack/Contact_Test.php</file>
			<file>BioTrack/Section_Test.php</file>
			<file>BioTrack/Vehicle_Test.php</file>
			<!-- <file>BioTrack/Inventory_Test.php</file> -->
			<!-- <file>BioTrack/Crop_Test.php</file> -->
			<!-- <file>BioTrack/Lab_Sample_Test.php</file> -->
			<!-- <file>BioTrack/Lab_Result_Test.php</file> -->
			<!-- <file>BioTrack/B2B_Outgoing_Test.php</file> -->
			<!-- <file>BioTrack/B2B_Incoming_Test.php</file> -->
			<file>BioTrack/B2C_Test.php</file>
		</testsuite>

		<testsuite name="CCRS">
			<directory>CCRS</directory>
		</testsuite>

		<testsuite name="Metrc">
			<directory>Metrc</directory>
		</testsuite>

	</testsuites>

	<coverage />

</phpunit>
